'use strict';

angular.module('<%= module %>')
  .config(function ($stateProvider) {
    $stateProvider.state('<%= stateName %>', {
<%= stateOptions %>,
      controller: '<%= name %>Controller'
    });
  })
  .controller('<%= name %>Controller', function ($scope, $log) {
  }
